td {
    padding: 10px;
    
}

h1{
    text-decoration: underline;
}

.hr-class {
    border-top: 10px solid #8c8b8b;
   
}

.koalaTable {
    width: 100%;
}

th {
    
    font-size: large;
}

.koalacon {
    width: 30%;
    padding: 0.5em;
    display: inline;
}

.hdr{
    display: flex;
    padding: 1em;
    background-color: lightgrey;
}

.hdr-text-div{
    display: flexbox;
    margin-top: 5em;
}

.hdr-text {
    display: flex;
    margin-top: 1em;
}
#addKoala{
    margin: 1em;
}

.tablebox{
    margin: 2em;
}

.th-c {
    font-size: larger;
    padding: 2em;
    text-decoration: underline;
}

h3 {
    text-align: center;
    text-decoration: underline;
}